
<div class="row">
  <div class="col-2"></div>
  <% @grid.each do |letter| %>
    <div class="col-1"><%= letter %></div>
  <% end %>
</div>

<form action="<%= score_path %>">
    <input type="text" name="attempt">
    <input type="hidden" name="grid" value="<%= @grid.join %>">
    <input type="hidden" name="start_time" value="<%= @start_time %>">
    <input type="submit">
  </form>